*{
    margin: 0px;
    padding: 0px;
    
}

nav {
    padding: 10px 40px;
    width: 100%;
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

nav a {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    margin: 10px;
    padding: 8px 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    color: black;
    background-color: azure;
    border: 3px solid azure;
    border-radius: 6px;
    box-shadow: 3px 3px 5px black;
    transition: 0.3s ease-in-out;
}

nav a:hover  {
    color: azure;
    background-color: black;
    border-color: black;
}

nav img {
    width: 60px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: 50px;
}
body{ 
    background: #acdaf9;
}


h1 {
    margin: 20px 600px 20px;
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    border: solid 5px steelblue;
    border-radius: 30px;
    box-shadow: 5px 5px;
    background-color: white;
}

.camscontainer{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 10px solid steelblue;
    border-radius: 5px;
    box-shadow: 6px 9px 0px;
    overflow: hidden;
}
/* for the slideshow credits to 
Ranjan-Beginner's Guide for guidance on how to use animations keyframes*/
.camslider{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.camslider img{
    width: 100%;
    
}

@keyframes slide{
    0%, 25% { transform: translateX(0); }
    30%, 50% { transform: translateX(-100%); }
    55%, 75% { transform: translateX(-200%); }
    80%, 100% { transform: translateX(-300%); }
}

.textbox{
    margin: 30px 150px 30px;
    padding: 10px;
    background-color: steelblue;
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 12px 10px black;
}

.textcontainer{
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    letter-spacing: -0.5px;
    padding: 15px;
    color: black;
    background-color: white;
    border: white;
    border-radius: 10px;
    text-shadow: 2px 1px 0px lightgray;
}

.start{
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExeXc0anc0aHdpaTlxMXlpNTNkcnJ4emhxcTN3aHl2eDM0MHpwdW5icSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/leuNkvf9pE6loEnjnb/giphy.gif);
    background-position: center;
    background-size: contain;
}